@font-face {
    font-family: 'broady';
    src: url(file:///Users/michelle/Documents/GitHub/idm231-ml3725/fonts/broady.ttf)
}

:root {
    --background: #fefaf6;
    --primary: #666E2F;
    --secondary: #1e1d1d;
    --textcolor: #351910;
    --: #252525;
}
/*#fefaf6*/

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: broady;
    background-color: var(--background);
    margin: 100;
    padding: 100;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
}

.togglevolume {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

img.volumemute {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.togglevolume:hover img{
    opacity: 0;
    cursor: pointer;
}

.togglevolume:hover img.volumemute {
    opacity: 1;
}

.infobutton {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

img.infohover {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.infobutton:hover img{
    opacity: 0;
    cursor: pointer;
}

.infobutton:hover img.infohover {
    opacity: 1;
}

.info {
    align-items: right;
}

/*body {
    background-image: url('file:///Users/michelle/Documents/GitHub/idm231-ml3725/imgs/ghiblibackground.jpg');
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}*/

.calendar {
    display: flex;
    justify-content: center;
    margin: 15px;
}


.introtext {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5em;
    color:#351910;
    line-height: 0;
    margin-bottom: 50px;
}

.zodiacbuttons img {
    width: 200px;
    height: auto;
}

.zodiacbuttons button {
    margin: 15px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    appearance: none;
}

.zodiacbuttons button:hover {
    transform: scale(1.5);
    transition: .4s ease-in-out;
}