@font-face {
    font-family: 'broady';
    src: url('fonts/BROADY.woff2') format('woff2'),
        url('fonts/BROADY.woff') format('woff');
}

@font-face {
    font-family: 'broady';
    src: url('fonts/broady.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --background: #fefaf6;
    --primary: #666E2F;
    --secondary: #1e1d1d;
    --textcolor: #351910;
    --: #252525;

    --font-serif: "Poppins", "Montserrat", Verdana, Tahoma, serif;
    --font-bold: "broady", var(--font-serif);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: url(imgs/ghiblibackground.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: var(--font-serif);
    color: #fefaf6;
    font-weight: 300;
    background-color: var(--background);
    margin: 100;
    padding: 100;
}

/* ----------toggle mute btn & help btn---------- */

header {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
}

.togglevolume {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
/*
img.volume {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.togglevolumemute:hover img{
    opacity: 0;
    cursor: pointer;
}

.togglevolume:hover img.volume {
    opacity: 1;
}*/

.infobutton {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

img.infohover {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.infobutton:hover img{
    opacity: 0;
    cursor: pointer;
}

.infobutton:hover img.infohover {
    opacity: 1;
}

.info {
    align-items: right;
}

/* ----------title and calendar style---------- */

.introtext {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: var(--font-bold);
    font-size: 5em;
    font-weight: 300;
    color: #fefaf6;
    text-shadow: 1px 0.5px 3px #2525258a;
    line-height: 0.5;
    margin-bottom: 40px;
}

.input-bday p {
    font-size: 1.25em;
    color: #fefaf6;
    text-shadow: 1px 0.5px 3px #2525258a;
    line-height: 0.5;
    font-weight: 600;
    margin-bottom: 10px;
}

input {
    background-color:#fefaf6;
    border-radius: 15px;
    border: none;
    font-family: var(--font-serif);
    font-size: 1.25em;
    color:#351910;
    padding: 10px;
    margin: 0 10px;
}

.input-bday section {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.submit-btn {
    padding: 10px 18px;
    background: #fefaf6;
    font-family: var(--font-serif);
    font-size: 22px;
    font-weight: 600;
    color:#351910;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 10px;
}

/* ----------zodiac character buttons style---------- */

.zodiacbuttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin: 0 50px;
}

.zodiacbuttons img {
    max-width: 175px;
    align-self: center;
}

.zodiacbuttons button {
    margin: 15px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    appearance: none;
}

.zodiacbuttons button:hover {
    transform: scale(1.5);
    transition: .4s ease-in-out;
}

/* ----------modal pop-up containing character info---------- */

.popup, .popup-info {
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    backdrop-filter: blur(5px);
    text-align: center;
    visibility: hidden;
    transition: transform 2s ease-in-out;
}

.popup-content {
    width: 950px;
    height: 633px;
    background-image: url(imgs/popupbg.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    padding: 50px;
    color:#351910;
    transition: transform 2s ease-in-out;
    animation: scale 1s ease-in-out;
}

@keyframes scale {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.popup img {
    width: 300px;
    margin-bottom: -30px;
}

.popup h2, .popup-info h2 {
    font-family: var(--font-bold);
    font-size: 2.75rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
}

.popup h3 {
    margin: 10px;
}

.popup p, .popup-info p {
    padding: 0 50px;
    font-size: 1.05rem;
}
.popup-header {
    display: flex;
    justify-content: right;
    margin-bottom: -30px;
}
.popup button, .popup-info button {
    padding: 5px 10px;
    border: none;
    font-size: 26px;
    color:#351910;
    border-radius: 20px;
    background-color: #C28D6B;
    margin-top: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.popup-info p{
    margin: 25px;
    margin-left: 125px;
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 0px;
}

.info-img-div{
    text-align: right;
}

.info-img{
    width: 275px;
    margin-right: 50px;
}